/* CSS 중첩 */
.frontend {
  font-size: 10px;
  padding: 20px;
  border: 1px solid green;

  &:hover {
    background-color: #fcf;
  }

  p {
    font-size: 2em
  }
}

/* .frontend:hover {
  background-color: #ffc;
} */