/* Gird 레이아웃 */
/* 그리드 셀 배경 색상 */
.like,
.lion,
.euid,
.frontend,
.bootcamp {
  box-shadow: 0 0 0 1px #000;

  > div:nth-child(1) {
    background: var(--pink);
  }
  > div:nth-child(1) {
    background: var(--pink);
  }
  > div:nth-child(2) {
    background: var(--blue);
  }
  > div:nth-child(3) {
    background: var(--coral);
  }
  > div:nth-child(4) {
    background: var(--green);
  }
  > div:nth-child(5) {
    background: var(--purple);
  }
  > div:nth-child(6) {
    background: var(--gray);
  }
  > div:nth-child(7) {
    background: var(--apricot);
  }
}

/* 그리드 템플릿 설정 */
.like {
  display: grid;
  /* grid-template: repeat(5, 50px) / repeat(5, 100px); */
  grid-template-rows: repeat(5, 50px);
  grid-template-columns: repeat(5, 100px);
}

/* 그리드 아이템 배치 - 라인 기반 */
.lion {
  display: grid;
  grid-template-rows: repeat(5, 50px);
  grid-template-columns: repeat(5, 100px);

  .lion1 {
    grid-row-start: 4;
    grid-column-start: 4;
    grid-row-end: 5;
    grid-column-end: 5;
  }

  .lion2 {
    grid-row: 3 / 5;
    grid-column: 2 / 4;
    z-index: 1;
  }

  .lion3 {
    grid-area: 2 / 4 / 4 / 6;
  }

  .lion4 {
    grid-area: 2 / 1 / 6 / 3;
  }
}

/* 그리드 아이템 배치 - 이름 기반 */
.euid {
  display: grid;
  grid-template-rows: repeat(5, 50px);
  grid-template-columns: repeat(5, 100px);
  grid-template-areas:
    'euid1 euid1 euid3 euid3 euid2'
    'euid1 euid1 euid3 euid3 euid2'
    'euid1 euid1 euid3 euid3 euid2'
    'euid4 euid4 euid5 euid5 euid5'
    'euid6 euid6 euid6 euid7 euid7';

  .euid1 {
    grid-area: euid1;
  }
  .euid2 {
    grid-area: euid2;
  }
  .euid3 {
    grid-area: euid3;
  }
  .euid4 {
    grid-area: euid4;
  }
  .euid5 {
    grid-area: euid5;
  }
  .euid6 {
    grid-area: euid6;
  }
  .euid7 {
    grid-area: euid7;
  }
}

/* 그리드 아이템 정렬 */
/* fr 단위 / gap */
.frontend {
  inline-size: 500px;
  block-size: 300px;

  display: grid;
  grid-auto-rows: 40px;
  grid-template-columns: 50px 100px 80px 120px 50px;
  gap: 10px;
  /* 콘텐츠 정렬 */
  /* align-content: center;
  justify-content: center; */
  place-content: center;

  /* 아이템 정렬 */
  /* justify-items: center;
  align-items: center; */
  place-items: center;

  /* > div {
    text-aline: center;
    align-content: center;
  } */

  .frontend4 {
    /* 개별 아이템 정렬 */
    /* justify-self: end;
    align-self: end; */
    place-self: end;
  }
}

/* minmax() 함수, repeat() 함수*/
.bootcamp {
  display: grid;
  /* grid-template-columns: repeat(4, minmax (100px 1fr)); */
  grid-auto-rows: 50px;
  grid-auto-columns: minmax(min-centent);
}
