/* 서브 그리드 */
/* 컴포넌트 */
.card {
  border: 1px solid currentColor;
  padding: 1em;
  display: grid;
  grid-template-columns: minmax(200px, 1fr);
  row-gap: 1em;

  figure {
    aspect-ratio: 2/1;
    order: -1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 30% 40%;
    }
  }

  p {
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: -0.02em;
  }

  a {
    background: darkblue;
    color: white;
    justify-self: end;
    padding: 16px;
    border-radius: 4px;
  }
}

/* 레이아웃 */
.cards {
  box-shadow: 0 0 0 5px green;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  .card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: subgrid;
    grid-row-start: 1;
    grid-row-end: 5;
  }
}
