/* 키프레임 애니메이션 */
/* 공통 스타일 (.container 및 .case) */
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-auto-rows: 300px;
  gap: 1.25rem;
  /* color: #fff; */

  hr {
    display: none;
  }
}

/* 모든 .target-animation에 animation-play-state: paused;를 기본으로 설정 */
.case {
  border: 1px solid currentColor;
  padding: 2.5rem;

  strong {
    color: #37b24d;
    display: block;
    font-size: 20px;
    margin-block-end: 10px;
  }

  button {
    border-radius: 0.5rem;
    padding: 0.5em 1em;
    color: #fff;
  }

  .toggle-animation {
    background-color: #4263eb;
  }

  .toggle-animation.paused {
    background-color: #e03131;
  }

  .reset-animation {
    background-color: #15aabf;
  }

  .target-animation {
    margin-top: 2.5rem;
    margin-block-start: 2.5rem;
    font-size: 2rem;
    text-align: center;
    align-content: center;
    padding: 0.625rem;
    border-radius: 0.5rem;
    background: linear-gradient(135deg, #37b24d, #2b8a3e);
  }
}

/* fade 애니메이션 */
.fade {
  background: yellow;

  .target-animation {
    animation-name: fade;
    animation-duration: 2000ms;
    animation-delay: 300ms;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-play-state: paused;
    /* animation-fill-mode: forwards; */
  }
}
