:root {
  color-scheme: light dark;
}
body {
  color: light-dark(#333b3c, #efefec);
  background-color: light-dark(#efedea, #223a2c);
}

/* 라이트/다크 모드 */
/* 라이트/다크 모드 스타일 */
body {
  background: yellow;
  color: green;

  @media (prefers-color-scheme: dark) {
    background: purple;
    color: white;
  }
}
