/* 이디야 News */
:root {
  --white: #fff;
  --gray: #878787;
  --gray-dark: #14182c;
  --blue-100: #3030e0;
  --blue-200: #24388d;
  --blue-300: #111166;

  --start-color: var(--blue-100);
  --end-color: var(--blue-300);
}

/* 공지사항 - grid 레이아웃 */
.notice {
  --spacing: 12px;

  background: var(--blue-300);
  display: grid;
  min-width: 320px;
  grid-template-columns: 125px minmax(200px, 1fr);

  h2,
  div {
    grid-area: 1 / 1 / 2 / 2;
  }

  h2 {
    padding: var(--spacing);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
  }

  div {
    place-self: end;
    display: flex;
    flex-flow: nowrap row;
    padding: var(--spacing);

    button {
      border: 0;
      padding: 0;
      background: none;

      svg {
        /* vertical-align: top; */
        display: block;
      }
    }
  }

  article {
    padding: var(--spacing);
    background: #fff;

    h3 {
      color: var(--blue-200);
    }

    p {
      line-height: 1.5;
      letter-spacing: -0.02em;
      margin-top: 10px;
    }
  }
}

/* 새소식 - grid 레이아웃 */
.news {
  background: var(--blue-300);
  color: var(--white);
  display: grid;
  min-inline-size: 320px;
  grid-template-columns: minmax(200px, 1fr) max-content;
  gap: 8px;
  padding: 16px;

  .news-title {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.02em;
    margin-block-end: 8px;
  }

  .news-list,
  .news-item {
    display: contents;
  }

  .news-list {
    font-size: 0.8125rem;
    line-height: 1.5;
    letter-spacing: -0.02em;

    a {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .more {
    grid-area: 1 / 2;
    place-self: start end;
  }
}

/* 고객감사 영상 - iframe 요소 */
/* .ediya-youtube {
  box-shadow: 0 0 0 5px green;

  figure {
    box-shadow: 0 0 0 5px red;

    iframe {
      box-shadow: 0 0 0 5px purple;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
} */

.ediya-youtube {
}
