/* 알림 UI */
/* 컴포넌트 */

/* float을 활용한 레이아웃 */
/* .notification {
  background: var(--yellow);
  padding: 20px;
  display: flow-root;

  svg {
    float: left;
  }

  div {
    box-shadow: 0 0 0 1px blue;
    float: left;
    margin-inline: 20px;
    width: calc(100% - 100px);
  }

  strong {
    color: #22be61;
    font-size: 18px;
    font-weight: 600;
  }

  p {
    color: #929b90;
    font-size: 14px;
    font-weight: 400;
  }

  time {
    box-shadow: 0 0 0 1px green;
    float: left;
    width: 32px;
    color: #22be61;
    font-size: 11px;
    font-weight: 700;
    text-align: right;
  }
} */

/* flex를 활용한 레이아웃 */
.notification {
  --green: #22be61;
  --gray: #929b90;
  --white: #fff;
  --black: #121212;
  --brown: #e3a368;
  --silver: #f9fefe;

  --point-color: var(--green);
  --text-color: var(--gray);
  --svg-path-color: var(--white);
  --border-color: var(--silver);
  --spacing: 1.25rem;

  border-radius: 0.5rem;
  border: 1px solid var(--border-color);
  background: var(--white);
  box-shadow: 0 0 2px 0 rgba(114, 119, 124, 0.8);

  padding: var(--spacing);
  column-gap: var(--spacing);
  color: var(--point-color);
  display: flex;
  flex-flow: nowrap row;

  div {
    flex: 1 1 0;
  }

  strong {
    font-size: 1.125rem;
    font-weight: 600;
    white-space: nowrap;
  }

  p {
    color: var(--gray);
    font-size: 0.875rem;
  }

  time {
    font-size: 0.6875rem;
    font-weight: 700;
    white-space: nowrap;
  }
}

/* .notification-rice {
  --green: #22be61;
  --gray: #929b90;
  --white: #fff;
  --black: #121212;
  --brown: #e3a368;
  --silver: #f9fefe;

  --point-color: var(--green);
  --text-color: var(--gray);
  --svg-path-color: var(--white);
  --border-color: var(--silver);
  --spacing: 1.25rem;

  border-radius: 0.5rem;
  border: 1px solid var(--border-color);
  background: var(--white);
  box-shadow: 0 0 2px 0 rgba(114, 119, 124, 0.8);

  padding: var(--spacing);
  column-gap: var(--spacing);
  color: var(--point-color);
  display: flex;
  flex-flow: nowrap row;

  svg {
    box-shadow: 0 0 0 1px blue;
  }

  div {
    box-shadow: 0 0 0 1px red;
    flex: 1 1 0;
    display:flex;
    flex-flow: wrap row;
    row-gap: 0.5rem;
    justify-content: space-between;
  }

  strong {
    font-size: 1.125rem;
    font-weight: 600;
    background: purple;
  }

  time {
    font-size: 0.6875rem;
    font-weight: 700;
    background: green;
    position: absolute;
    top: 0;
    right: 0;
  }

  p {
    color: var(--gray);
    font-size: 0.875rem;
    background: yellow;
    width: 100%;
  }
} */


/* 미디어 쿼리를 활용한 반응형 레이아웃 */
.notifications {
  display: flex;
  flex-flow: wrap row;
  gap: 20px;

  li {
    display: contents;
  }

  .notification {
    width: 100%;

    @media (width >=400px) {
      flex: 1 1 0;
    }
  }
}