/* 기본 스타일 */
body {
  font-family: 'SUIT Variable', sans-serif;
}

/* 링크(a 요소) 스타일 */
a {
  text-decoration: none;
  color: inherit;
}

/* 여백  */
.spacing-20 {
  margin: 20px;

  h1 {
    margin-block: 20px;
  }
}

/* 컴포넌트 영역 스타일링 */
/* ui component */
.ui-component {
  border: 1px solid currentColor;
  margin-block: 10px;
  padding: 10px;
}

/* copy component */
.copy-component {
  display: flex;
  background: black;
  color: white;
  margin-block-start: 0.5em;
  padding: 0.5em 1em;
  border-radius: 4px;
}